{% extends 'base.html' %}

{% block content %}<i class="fas fa-h2">This is a testing page for JSON </i>
<br>    


    {% block jsondata %}

        <!--Expected to parse a json object  show List of all found words-->
        {% if%}
            <i class="fas fa-h2 ">JSON _DATA_Full</i>     <br>
            <i class="fas fa-h3 ">
                {{api_json_list_full}}
            </i>  <br>
          

        {% endif %}

        <!--Expected to parse a json object  show List of selected words-->
        {% if%}
            <i class="fas fa-h2 ">JSON _DATA_Full</i>     <br>
            <i class="fas fa-h3 ">
                {{api_json_list_full}}
            </i>  <br>
              
    
        {% endif %}
    
        
    {% endblock jsondata %}


{% endblock content %}