

{% extends 'base.html' %}

{% block title %} Credential Home {% endblock title %}
{% block request %}
    <!--Post Creation Markup-->

    <div class ="mx-auto" style="width: 200px;">
        <div class ="position-relative top-0 start-50 translate-middle-x" >
            <i class="fas fa-h3"> My Friend Request</i>
        </div>

    
        {% for record in request_records %}

            <a href = {% url 'request' record.pk %}>
                <div > 
                    <ul class ="list-group list-group-horizontal">
                        <li class="list-inline-item"><nav> {{record.service}}</nav></li>
                        <li class="list-inline-item"><nav> {{record.username}}</nav></li>
                        <li class="list-inline-item"><nav> {{record.password}}</nav></li>
                        </li>
                    </ul>
                </div> 
            </a>
            {% endfor %}
            {% else %}
            <p> No Credentials Available</p>
        {% endif %}
    </div>

{% endblock request %}
