{% extends "base.html" %}

{% block title %} {{user.username}} FriendsList  {% endblock title %}
{% block Body %}
    <!--Profile  Markup-->
    
    <!--Display List of friends usernames -->
    <!--Directs To Friend Options - Remove Friend-->
    <div class="list-group" id="friend_listing_div">

        <ul class="list-group">
            {% for friend in friend_record.friends_list.all %}
               <span> 
                <li class="list-group-item" id = "{{friend.user.username}}">
                    <i class="fas fa-h3 w-25 p-3    ">{{friend.user.username}}</i>
                    <a name="" class="btn btn-primary w-25 p-3 remove_friend_btn" href="#" role="button" data-view = {% url "remove_friend" user.username %}> Remove Friend</a> 
               </li> </span>
            {% endfor %}
            </ul>
    </div>  
    <br>

 {% block Friend_Funcationilty_Requests %}
 
    <div>
        <a href = {% url "make_friend_request" user.slug %}> Add A Friend Now </a>
    </div>
 
 {% endblock Friend_Funcationilty_Requests %}   
 
 {% block active_friend_request %}
    
    <div>
        <a href = {% url "all_active_request" user.username user.slug %}> Active Friend Requests </a>
    </div>
 {% endblock active_friend_request %}

 {% block show_friend_credentials %}
 <i class="fas fa-h3    "><a href = {% url "shared_friend_records" user %}> See friend credentials shared with you <a/></i>
 {% endblock show_friend_credentials %}
 
{% endblock Body %}
  
{% block Foot %}

{% endblock Foot %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script>
    //Document Assignment
        // Setup Code 
            // JavaScript function to get cookie by name; retrieved from https://docs.djangoproject.com/en/3.1/ref/csrf/
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
            // Reload document when any ajax call completes

        
        // On Document Ready Populate 
        $(document).ready(function(){
            // For each element meant to act as a remove freind button 
            $(".remove_friend_btn").each(function(){
                //add functionality

                $(this).click(function(){

                    let instance_id = $(this).parent().attr('id')
                    console.log(`Button clicked: ${instance_id}`);
                    var view_url = $(this).attr('data-view')
                    console.log(`remove friend button clicked URL: ${view_url}`);

                    //accept_request_friend(view_url, csrf_instance);
                    $.ajax({
                        url: view_url, 
                        type: "POST",
                        headers: 
                            {
                            "X-Requested-With": "XMLHttpRequest",
                            'X-CSRFToken': csrftoken,
                            mode: 'same-origin'
                            },
                        data: {  'purpose': 'remove_friend', 'user_to_remove':instance_id, 'user_instance': '{{user}}'},
                        dataType: 'json',
                        success: function () {
                            console.log("done");
                        };
                    });
                });
            });
        });

    </script>

    {% endblock scripts %}