{% extends 'base.html' %}
{% block content %}
<i class="fas fa-h2"> This is a testing page for JSON </i>
<br>    
    {% block jsondata %}

        <!--Expected to parse a json object -->
        {% if api_json_list_full%}
            <i class="fas fa-h2 ">JSON _DATA_Full_Thesuarus</i>     <br>
            <i class="fas fa-h3 ">
                {{api_json_list_full}}
            </i>  <br>
          

        {% endif %}
            <!--Iterated synonyms -->
        {% if api_json_synonyms%}
            <i class="fas fa-h2 ">JSON _DATA_Synonyms</i>     <br>
            {% for object in api_json_synonyms %}
                <i class="fas fa-h3 ">
                    {{object}}
                </i>
            {% endfor %}
            <br>
        {% endif %}
    
        <!--Iterated Antontyms -->
        {% if api_json_antonyms%}
            <i class="fas fa-h2 ">JSON _DATA_Antonyms</i>     <br>
            {% for object in api_json_antonyms %}
                <i class="fas fa-h3 ">
                    {{object}}
                </i>
            {% endfor %}
            <br>
        {% endif %}
    {% endblock jsondata %}



{% endblock content %}