{% extends 'base.html' %}

{% block title %} Credential Home {% endblock title %}
{% block Body %}
    <!--Post Creation Markup-->
     



    <div class ="mx-auto" style="width: 200px;">
        <div>
            <i class="fas fa-h3"> Credentials</i>
        </div>
        <div class ="position-relative top-0 start-50 translate-middle-x" >
            <i class="fas fa-h3"> My Records</i>
        </div>
        <div>
            {% if user.is_authenticated %}
                <i class="fas fa-h3"> <a href = {% url 'credential_new' user.username %}>Create a record <a/></i>
            {% endif %}
        </div>

        {% if credential_records.owner == self.user %}
            {% for record in credential_records %}

                <a href = {% url 'credential_detail' record.username record.pk %}>
                    <div > 
                        <ul class ="list-group list-group-horizontal">
                            <li class="list-inline-item"><nav> {{record.service}}</nav></li>
                            <li class="list-inline-item"><nav> {{record.username}}</nav></li>
                            <li class="list-inline-item"><nav> {{record.password}}</nav></li>
                            </li>
                        </ul>
                    </div> 
                </a>
            {% endfor %}
            {% else %}
            <p> No Credentials Available</p>
        {% endif %}
    </div>

{% endblock Body %}

{% block Foot %}


{% endblock Foot %}