{% extends 'base.html' %}

{% block title %}{{credential_record.service}}{% endblock title %}
{% block Body %}
    <!--Credental Detail Markup-->
    <div>

        <span>
            <a href = {% url 'credential_new' user.username %}><button type="button" class="btn btn-primary">Create New Credential set</button></a>
        </span>
    </div>
    <div>
        {% if credential_record %}        
            <div > 
                <span>
                    <p> 
                        Service: {{credential_record.service}}
                    </p>
                </span>
                    <br>
                <span>
                    <p> 
                        Username: {{credential_record.username}}
                        Password: {{credential_record.password}}
                    </p>
                </span>
            </div> 
            <div > 
                <ul class ="list-group list-group-horizontal">           
                <li class="list-inline-item"> <a name="update_record" id="" class="btn btn-primary" href={% url 'credential_update' user.username credential_record.pk %} role="button">update</a></li>
                <li class="list-inline-item"> <a name="delete_record" id="" class="btn btn-primary" href={% url 'credential_delete' user.username credential_record.pk %} role="button">delete</a></li>
                </ul>
            </div> 
        </a>
            {% else %}
            <p> This credential_record does not exist </P>
        {% endif %}
        <span>
            <a href = {% url 'credential_list' user.username %}><button type="button" class="btn btn-primary">Home</button></a>
        </span>
    </div>
        
{% endblock Body %}

{% block Foot %}


{% endblock Foot %}