<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasswordGenerator - Delete</title>
</head>
<body>
z
    {% block content %}
      
        
    <h1> Update Password Preferences </h1>

    <!-- Preference update Markup-->
    <div>
        <form method = 'post'> 
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock content %}
</body>
</html>